<%- include('includes/_header') %>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_navbar.html -->
            <%- include('includes/_header_navbar') %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper d-block">
                <!-- partial:partials/_settings-panel.html -->
                <!-- partial -->
                <!-- partial:partials/_sidebar.html -->
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/Customer/home">
                                <i class="icon-home menu-icon"></i>
                                <span class="menu-title">Home</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/Customer/orders">
                                <i class="icon-notebook menu-icon"></i>
                                <span class="menu-title">Your Orders</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Customer/cart">
                                <i class="icon-bag menu-icon"></i>
                                <span class="menu-title">Cart</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Customer/wishlist">
                                <i class="icon-heart menu-icon"></i>
                                <span class="menu-title">Wishlist</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <% if(orderData.length != 0) { %>
                    <div class="main-panel">
                        <div class="content-wrapper">
                            <% for(var i=0; i < orderData.length; i++){ %>
                                <div class="col-lg-12 grid-margin stretch-card">
                                    <div class="card" style="border: 4px solid #2489fb;">
                                        <div class="card-body">
                                            <h4 class="card-title">Order : <%= i+1 %></h4>
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Image
                                                            </th>
                                                            <th>
                                                                Product
                                                            </th>
                                                            <th>
                                                                Quantity
                                                            </th>
                                                            <th>
                                                                Unit Price
                                                            </th>
                                                            <th>
                                                                Payment Status
                                                            </th>
                                                            <th>
                                                                Order Status
                                                            </th>
                                                            <th>
                                                                Delivery Status
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for(var j=0; j < orderData[i].Product.length; j++){ %>
                                                            <tr>
                                                                <td class="py-1">
                                                                    <img src="<%= orderData[i].Product[j].product_image[0] %>"
                                                                        alt="<%= orderData[i].Product[j].product_name %>" />
                                                                </td>
                                                                <td>
                                                                    <%= orderData[i].Product[j].product_name %>
                                                                </td>
                                                                <td>
                                                                    <%= orderData[i].Product[j].product_quantity %>
                                                                </td>
                                                                <td>
                                                                    <%= orderData[i].Product[j].product_price %>
                                                                </td>
                                                                <td>
                                                                    <% if( orderData[i].Payment_Status === "PENDING" ) { %>
                                                                        <label class="badge badge-warning">Pending</label>
                                                                    <% } else if ( orderData[i].Payment_Status === "CANCELLED" ) { %>
                                                                        <label class="badge badge-warning">Cancelled</label>
                                                                    <% } else if ( orderData[i].Payment_Status === "COMPLETED" ) { %>
                                                                        <label class="badge badge-success">Completed</label>
                                                                    <% }  else if ( orderData[i].Payment_Status === "REFUNDED" ) { %>
                                                                        <label class="badge badge-success">Refunded</label>
                                                                    <% } %>
                                                                </td>
                                                                <% if(orderData[i].Order_Status === "PENDING") { %>
                                                                    <td>
                                                                        <label class="badge badge-warning">Pending</label>
                                                                    </td>
                                                                <% } else if(orderData[i].Order_Status === "ACCEPTED")  { %>
                                                                    <td>
                                                                        <label class="badge badge-success">Accepted</label>
                                                                    </td>
                                                                <% } else if(orderData[i].Order_Status === "DELIVERED")  { %>
                                                                    <td>
                                                                        <label class="badge badge-success">Delivered</label>
                                                                    </td>
                                                                <% } else if(orderData[i].Order_Status === "CANCELLED")  { %>
                                                                    <td>
                                                                        <label class="badge badge-warning">Cancelled</label>
                                                                    </td>
                                                                <% } else { %>
                                                                    <td>
                                                                        <label class="badge badge-danger">Rejected</label>
                                                                    </td>
                                                                <% } %>
                                                                <% if(orderData[i].Order_Status === "DELIVERED") { %>
                                                                    <td>
                                                                        <label class="badge badge-success">Delivered</label>
                                                                    </td>
                                                                <% } else if(orderData[i].Order_Status === "ACCEPTED" || orderData[i].Order_Status === "PENDING")  { %>
                                                                    <td>
                                                                        <label class="badge badge-warning">Pending</label>
                                                                    </td>
                                                                <% } else if(orderData[i].Order_Status === "CANCELLED") { %>
                                                                    <td>
                                                                        <label class="badge badge-warning">Cancelled</label>
                                                                    </td>
                                                                <% } else { %>
                                                                    <td>
                                                                        <label class="badge badge-danger">Rejected</label>
                                                                    </td>
                                                                <% } %>
                                                            </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a href="/Customer/viewOrderInvoice?id=<%= orderData[i]._id %>"  class="btn btn-info" style="border-radius: 0px 0px 14px 14px;">View Order Details</a>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } else { %>
                    <%- include('includes/_emptyOrders') %>
                <% } %>
            </div>
            <!-- page-body-wrapper ends -->
        </div>
    </body>

    <%- include('includes/_footer') %>